<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WHMS - Warehouse & Inventory Management System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    @await Html.PartialAsync("__css")
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    @RenderBody()

    @await Html.PartialAsync("__js")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>