@page "{id?}"
@using Indotalent.Models.Enums
@model Indotalent.Pages.LogAnalytics.LogClearingFormModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Admin.cshtml";
    var statusMessage = Model.StatusMessage;
    Model.StatusMessage = string.Empty;
}

<div class="form-card">
    <form id="formMain" method="post" novalidate="">

        <div class="form-card-body">

            <p class="small-italic-left">Confirmation</p>
            <fieldset>
                <h3>Are you sure want to clear all log data?</h3>
            </fieldset>

        </div>
        <div class="form-card-footer">
            <button type="submit" id="btnSubmit">Submit</button>
        </div>

    </form>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            

            showStatusMessage('@statusMessage');

            new ej.buttons.Button({ isPrimary: true }, '#btnSubmit');

            var validationOptions = {}

            var formValidator = new ej.inputs.FormValidator('#formMain', validationOptions);
            var formElement = document.getElementById('formMain');
            formElement.addEventListener('submit', function (e) {
                e.preventDefault();
                if (formValidator.validate()) {
                    formElement.submit();
                }
            })

        });
    </script>
}