@page
@model Indotalent.Pages.CustomerCategories.CustomerCategoryListModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Admin.cshtml";
    var statusMessage = Model.StatusMessage;
    Model.StatusMessage = string.Empty;
    ViewData["Module"] = "Sales";
}



<div class="row">
    <div class="col-12">
        <div id="Grid"></div>
    </div>
</div>

@section Scripts {
    <script>


        document.addEventListener('DOMContentLoaded', function () {

            showStatusMessage('@statusMessage');

            var grid = new ej.grids.Grid({
                dataSource: new ej.data.DataManager({
                    url: '/odata/CustomerCategory',
                    adaptor: new ej.data.ODataV4Adaptor()
                }),
                allowFiltering: true,
                allowSorting: true,
                allowSelection: true,
                allowCategorying: true,
                allowTextWrap: true,
                allowResizing: true,
                allowPaging: true,
                allowExcelExport: true,
                filterSettings: { type: 'CheckBox' },
                sortSettings: { columns: [{ field: 'CreatedAtUtc', direction: 'Descending' }] },
                pageSettings: { currentPage: 1, pageSize: 20, pageSizes: ["10", "20", "50", "100", "200", "All"] },
                selectionSettings: { persistSelection: true, type: 'Single' },
                autoFit: true,
                showColumnMenu: true,
                gridLines: 'Horizontal',
                columns: [
                    { type: 'checkbox', width: 100 },
                    {
                        field: 'RowGuid', isPrimaryKey: true, headerText: 'RowGuid', visible: false
                    },
                    { field: 'CreatedAtUtc', width: 100, format: 'yyyy-MM-dd HH:ss', textAlign: 'Left', type: 'dateTime' },
                    { field: 'Name', width: 100 },
                    { field: 'Description', width: 100 },
                ],
                toolbar: [
                    'ExcelExport', 'Search',
                    { type: 'Separator' },
                    { text: 'Add', tooltipText: 'Add', prefixIcon: 'e-add', id: 'AddCustom' },
                    { text: 'Edit', tooltipText: 'Edit', prefixIcon: 'e-edit', id: 'EditCustom' },
                    { text: 'Delete', tooltipText: 'Delete', prefixIcon: 'e-delete', id: 'DeleteCustom' },
                ],
                beforeDataBound: () => {
                },
                dataBound: function () {
                    grid.toolbarModule.enableItems(['EditCustom', 'DeleteCustom'], false);
                    grid.autoFitColumns(['CreatedAtUtc', 'Name', 'Description']);
                },
                excelExportComplete: () => {
                },
                rowSelected: () => {
                    if (grid.getSelectedRecords().length == 1) {
                        grid.toolbarModule.enableItems(['EditCustom', 'DeleteCustom'], true);
                    } else {
                        grid.toolbarModule.enableItems(['EditCustom', 'DeleteCustom'], false);
                    }
                },
                rowDeselected: () => {
                    if (grid.getSelectedRecords().length == 1) {
                        grid.toolbarModule.enableItems(['EditCustom', 'DeleteCustom'], true);
                    } else {
                        grid.toolbarModule.enableItems(['EditCustom', 'DeleteCustom'], false);
                    }
                },
                rowSelecting: () => {
                    if (grid.getSelectedRecords().length) {
                        grid.clearSelection();
                    }
                },
                toolbarClick: (args) => {
                    if (args.item.id === 'Grid_excelexport') {
                        grid.excelExport();
                    }

                    if (args.item.id === 'AddCustom') {
                        var formUrl = '/CustomerCategories/CustomerCategoryForm' + '?action=create';
                        window.location.href = formUrl;
                    }

                    if (args.item.id === 'EditCustom') {
                        if (grid.getSelectedRecords().length) {
                            var selectedRowGuid = grid.getSelectedRecords()[0].RowGuid;
                            var formUrl = '/CustomerCategories/CustomerCategoryForm?rowGuid=' + selectedRowGuid + '&action=edit';
                            window.location.href = formUrl;
                        }
                    }

                    if (args.item.id === 'DeleteCustom') {
                        if (grid.getSelectedRecords().length) {

                            dialogObj = ej.popups.DialogUtility.confirm({
                                title: ' Delete Items',
                                content: "Are you sure you want to permanently delete these items?",
                                okButton: {
                                    click: () => {
                                        dialogObj.hide();
                                        var selectedRowGuid = grid.getSelectedRecords()[0].RowGuid;
                                        var formUrl = '/CustomerCategories/CustomerCategoryForm?rowGuid=' + selectedRowGuid + '&action=delete';
                                        window.location.href = formUrl;
                                    }
                                },
                                cancelButton: { click: () => { dialogObj.hide(); } },
                                position: { X: 'center', Y: 'center' },
                                closeOnEscape: true
                            });

                        }
                    }

                }
            });


            grid.appendTo('#Grid');

        });
    </script>
}