@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    var statusMessageIcon = Model.StartsWith("Error") ? "times" : "check";
    <div class="alert alert-@statusMessageClass border-0 d-flex align-items-center" role="alert">
        <div class="bg-@statusMessageClass me-3 icon-item"><span class="fas fa-@statusMessageIcon-circle text-white fs-3"></span></div>
        <p class="mb-0 flex-1">@Model</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

