@page
@model AccessDeniedModel
@using Indotalent.Applications.Companies
@inject CompanyService CompanyService
@{
    ViewData["Title"] = "Access denied";

    var defaultCompany = await CompanyService.GetDefaultCompanyAsync();
    var companyName = defaultCompany?.Name ?? string.Empty;
}

<partial name="~/Areas/Identity/Pages/Account/_StatusMessage.cshtml" model=@ViewData["StatusMessage"] />
<div class="card-body register-card-body">
    <p class="login-box-msg">@ViewData["Title"]</p>
    <p class="text-danger">You do not have access to this resource.</p>
    <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Sign up using Google+
        </a>
    </div>

    <p class="mb-1">
        <a asp-page="./ForgotPassword">I forgot my password</a>
    </p>
    <p class="mb-1">
        <a asp-page="./ResendEmailConfirmation">Resend Confirmation</a>
    </p>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



