@page
@model LoginModel
@using Indotalent.Applications.Companies
@inject CompanyService CompanyService

@{
    ViewData["Title"] = "Log in";
    ViewData["StatusMessage"] = Model.ErrorMessage;
    var defaultCompany = await CompanyService.GetDefaultCompanyAsync();
    var companyName = defaultCompany?.Name ?? string.Empty;
}


<partial name="~/Areas/Identity/Pages/Account/_StatusMessage.cshtml" model=@ViewData["StatusMessage"] />
<div class="card-body login-card-body">
    <p class="login-box-msg">@ViewData["Title"]</p>

    <form id="account" method="post">
        <div class="input-group mb-3">
            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email" value="admin@gmail.com">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <div class="input-group mb-3">
            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" value="123456">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    <input asp-for="Input.RememberMe" type="checkbox">
                    <label for="remember">
                        Remember Me
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
        </div>
    </form>

    <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
    </div>
    <!-- /.social-auth-links -->

    <p class="mb-1">
        <a asp-page="./ForgotPassword">I forgot my password</a>
    </p>
    <p class="mb-1">
        <a asp-page="./ResendEmailConfirmation">Resend Confirmation</a>
    </p>
    <p class="mb-0">
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Register a new membership</a>
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
