@page
@model LogoutModel
@using Indotalent.Applications.Companies
@inject CompanyService CompanyService
@{
    ViewData["Title"] = "Log out";

    var defaultCompany = await CompanyService.GetDefaultCompanyAsync();
    var companyName = defaultCompany?.Name ?? string.Empty;
}



<partial name="~/Areas/Identity/Pages/Account/_StatusMessage.cshtml" model=@ViewData["StatusMessage"] />
<div class="card-body login-card-body">
    <p class="login-box-msg">@ViewData["Title"]</p>

    

    <div class="social-auth-links text-center mb-3">
        <a asp-area="" asp-page="/Index" class="btn btn-block btn-primary">
            <i class="fas fa-home mr-2"></i> @companyName
        </a>
        if (User.Identity?.IsAuthenticated ?? false)
        {
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">

            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Click here to Logout</button>
        </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    </div>
   

    <p class="mb-1">
        <a asp-page="./ForgotPassword">I forgot my password</a>
    </p>
    <p class="mb-1">
        <a asp-page="./ResendEmailConfirmation">Resend Confirmation</a>
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

