@page
@model Indotalent.Pages.Users.ChangeAvatarFormModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Admin.cshtml";
    var statusMessage = Model.StatusMessage;
    Model.StatusMessage = string.Empty;
}
<div class="form-card">
    <form id="formMain" method="post" novalidate="" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.UserForm.Id" />
        <div class="form-card-body">

            <p class="small-italic-left">General</p>
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input asp-for="UserForm.File" class="form-control" type="file" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>


            </fieldset>

            <p class="small-italic-left">Image Preview</p>
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-fluid rounded-3" src="@Model.LogoImageUrl" alt="" />
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="form-card-footer">
            <button type="submit" id="btnSubmit">Submit</button>
        </div>

    </form>
</div>






@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            

            showStatusMessage('@statusMessage');

            new ej.buttons.Button({ isPrimary: true }, '#btnSubmit');

            var validationOptions = {
                rules: {}
            }

            var formValidator = new ej.inputs.FormValidator('#formMain', validationOptions);
            var formElement = document.getElementById('formMain');
            formElement.addEventListener('submit', function (e) {
                e.preventDefault();
                if (formValidator.validate()) {
                    formElement.submit();
                }
            })

        });
    </script>
}

