@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="lock-overlay">
    <div class="lock-icon">
        <i class="bi bi-exclamation-triangle display-1 text-white"></i>
    </div>
    <div class="lock-welcome text-white">
        <h1 class="display-1 fw-bold text-white">500</h1>
        <h1 class="mb-4 text-white">Server Error</h1>
        <p class="mb-4 text-white">
            @Model.ErrorMessage
        </p>
        @if (Model.ShowRequestId)
        {
            <p class="text-white">
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>
</div>


