@page
@model Indotalent.Pages.InventoryMovements.InventoryMovementListModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Admin.cshtml";
    var statusMessage = Model.StatusMessage;
    Model.StatusMessage = string.Empty;
    ViewData["Module"] = "Inventory";
}


<div class="form-card" style="padding: 5px;">
    <div id="PivotTable"></div>
</div>



@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {


            var data = new ej.data.DataManager({
                url: '/odata/InvenTrans',
                adaptor: new ej.data.ODataV4Adaptor()
            });

            var pivotTableObj = new ej.pivotview.PivotView({
                height: '100%',
                width: '100%',
                dataSourceSettings: {
                    dataSource: data,
                    expandAll: true,
                    filters: [],
                    columns: [{ name: 'ModuleCode' }, ],
                    rows: [{ name: 'Product' }, { name: 'Warehouse' }, { name: 'Status' }],
                    values: [{ name: 'Stock' }]
                },
                showToolbar: true,
                showFieldList: false,
                displayOption: { view: "Table" },
                showGroupingBar: false,
                showValuesButton: true,
                groupingBarSettings: { showFieldsPanel: true },
            });
            pivotTableObj.appendTo('#PivotTable');
        });
    </script>
}