@using Indotalent.Applications.Companies
@inject CompanyService CompanyService
@{
    var defaultCompany = await CompanyService.GetDefaultCompanyAsync();
    var companyName = defaultCompany?.Name ?? string.Empty;
    var companyWeb = defaultCompany?.Website ?? "#";
    var year = DateTime.Now.Year;
}
<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <!--/*** This app is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the app without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://store.indotalent.com". Thank you for your support. ***/-->
        <b>Developed By:</b> <a href="https://store.indotalent.com">https://store.indotalent.com</a>
    </div>
    <strong>Copyright &copy; @year <a href="@companyWeb">@companyName</a>.</strong> All rights reserved.
</footer>

