<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    @await Html.PartialAsync("~/Pages/Shared/AdminLTE/__css.cshtml")
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <div id="SFToast"></div>
        <!-- Navbar -->
        @await Html.PartialAsync("~/Pages/Shared/AdminLTE/__navbar.cshtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @await Html.PartialAsync("~/Pages/Shared/AdminLTE/__sidebar.cshtml")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper p-4">
            @Html.AntiForgeryToken()
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        @await Html.PartialAsync("~/Pages/Shared/AdminLTE/__footer.cshtml")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    @await Html.PartialAsync("~/Pages/Shared/AdminLTE/__js.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
